#Constants {
    includeNativeBool: true; 
}

ToggleButton {
    color: white;
    background: transparent;
    border: 7px solid black;
    border-radius: 52px;
    padding: 10px;
    margin: 2mm;
}

ToggleButton.selected, ToggleButton.pressed {
    color : black;
}

Label {
    color: black;
}

Button_Mood1 {
    color: darkorange;
    size: 6mm;
}

Button_Mood1.selected, Button_Mood1.pressed {
    color: darkorange;
    background: transparent;
    border: 7px solid white;
    border-radius: 52px;
    padding: 10px;
    margin: 2mm;
}